<div class="container">
  <div class="row">
    <div class="col text-center pt-5">
      <img class="img-thumbnail rounded-circle" width="150" src="img/IMG_1093-removebg-preview.jpg" alt="">
      <h1 class="display-4">Wisnu Andika</h1>
      <p class="lead">Web Enthusiast | Student</p>
      <p class="px-3">I am a 21st-year student at the Universitas Pembangunan Nasional Veteran Jakarta (UPNVJ), majoring in Informatics, who is very interested in participating in an internship program in web development. In addition to my busy academic schedule, I actively sharpen my knowledge and skills in web development through various means, such as taking online courses, reading books, and engaging in web developer forums. I have also undertaken several small web development projects as an effort to expand my practical experience. </p>
    </div>
  </div>
</div>