<div class="row">
  <div class="card col-md-5 my-3 p-3">
    <h1 class="fw-bold">Contact App</h1>
    <p>Contact Manager App using Express.js and EJS templating engine that allows users to perform CRUD (Create, Read, Update, Delete) operations on contact information. The contact data will be stored in JSON format, and users can manage contact details such as name, phone number, and email. This app provides a user-friendly interface for adding, viewing, updating, and deleting contacts, making it easy to organize and maintain your contact list.</p>
  </div>
  <div class="col-1"></div>
  <div class="card col-md-5 text-center my-3 p-3">
    <h1 class="fw-bold">Total Contact</h1>
    <a href="/contact" class="fw-bold m-auto card p-3 h1 text-decoration-none"><%= contact.length %></a>
  </div>
</div>
<div class="row">
  <div class="card col-md-5 mt-3 p-3">
    <h1 class="fw-bold">How To Use?</h1>
    <ol>
      <li>Open the 'Contact' menu on the navbar.</li>
      <li>Click 'Add Contact' to input new data.</li>
      <li>Fill in the form with the desired information, then click 'Add Contact.'</li>
      <li>To view contact details, click 'Detail' in the action column.</li>
      <li>To edit a contact, click the 'Edit' button, then input the new data in the form.</li>
      <li>To delete a contact, click the 'Delete' button.</li>
    </ol>
  </div>
</div>